.map-wrapper {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.dashboard-map {
  width: 100%;
  height: auto;
}

.map-path {
  cursor: pointer;
  transition: all 0.3s ease;
}

.map-path:hover {
  filter: brightness(1.2);
  stroke: #222;
  stroke-width: 1;
}

.map-trend-minus {
  opacity: 0.7;
}

.map-path.active {
  stroke: #000;
  stroke-width: 2;
}
